<!DOCTYPE html>
<html>
<head>
  <title>TeamTaskManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'error_manifest' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Fuego Task Manager</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if current_user.nil? %>
          <li><%= link_to 'Log In', login_path, method: 'get' %></li>
          <li><%= link_to 'Sign Up', signup_path, method: 'get' %></li>
        <% else %>
          <li><%= link_to 'Log Out', logout_path, method: 'post' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>
  
<div class="container">
  <h1></h1>

  
</div>

<div id="footer">
  <div class="container">
    <p class="text-muted">Created by <a href="https://github.com/tuckerbohman5" target="_blank">Tucker Bohman</a></p>
  </div>
</div>

  <script type="text/javascript" charset="utf-8">
  $('#loadComments').on('click', function(){
  console.log("loadingComments...");
  $('#projectComments').html('<h5>Comments:</h5>')
    $.ajax({
      method: 'GET',
      url: this.href,
      dataType: 'JSON'
    }).done(function(response) {
      var project = response["project"];
      var comments = project["comments"];
      for (var i = 0; i < comments.length; i++) {
        var comment = comments[i];
        
        var commentHtml = '';
        commentHtml += "<p>" + comment["user_id"] + " said " + comment["content"] + "</p>";
        $('#projectComments').append(commentHtml);
      }
      
    })
  
  })


</script>

</body>
</html>
