<h1><%= @project.name %></h1>
<h3><%= @project.description %></h3>
<h3>Due Date: <%= @project.due_date %></h3>


<% if !@project.comments.empty? %>
<button id='loadComments'>View Comments</button>
<button id='hideComments'>Hide Comments</button>
<div id="projectComments">


</div>
<% end %>

<%= form_for @comment do |f| %>
<%= f.text_field :content, :placeholder => "New comment" %>
<%= f.hidden_field :project_id, value: @project.id %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.submit "Add comment", id: "addComment" %>
<% end %>


<h5>Tasks:</h5>
<ul>
<h4 style="color:red">Incomplete Tasks</h4>
<% @project.incomplete_tasks.each do |task| %>
  <li><%= task.description %>-<%=task.user.name%><br> <%= link_to "Complete?", task_complete_path(task), method: 'post' %> </li>
<% end %>

<h4 style="color:green">Complete Tasks</h4>
<% @project.completed_tasks.each do |task| %>
  <li><%= task.description %>-<%=task.user.name%></li>
<% end %>
</ul>


<%= link_to "Add Task", new_project_task_path(@project), method: 'get' %><br>

<%= link_to "Edit Project", edit_project_path(@project), method: 'get' %><br>
<%= link_to "Mark as Complete", "/projects/#{@project.id}/complete", method: 'post' if @project.completed == false %><br>

<%= link_to "Delete Project", "/projects/#{@project.id}", method: 'delete' %><br>

<script type="text/javascript" charset="utf-8">

$(document).ready(
  function(){
    $('#hideComments').hide();
  }
);

  //Lodading Comments without page reload//
  $('#loadComments').on('click', function(){
  
    loadComments();
  });


  function loadComments() {
    $('#projectComments').html('<h5>Comments:</h5>')
    $.ajax({
      method: 'GET',
      url: this.href,
      dataType: 'JSON'
    }).done(function(response) {
      var project = response["project"];
      var comments = project["comments"];
      for (var i = 0; i < comments.length; i++) {
        var comment = comments[i];
        
        var commentHtml = '';
        commentHtml += "<p>" + comment["user"]["name"] + " said " + comment["content"] + "</p>";
        $('#projectComments').append(commentHtml);
      }
      $('#loadComments').hide();
      $('#hideComments').show();
    })
  
  }


  $('form').on('submit', function(event){
  
  event.preventDefault();
  var values = $(this).serialize();
 
  var posting = $.post('/comments', values);

  posting.done(function(data){
    $('#projectComments').append(data);
  })
  
  
})

  $('#hideComments').on('click', function(){
    $('#projectComments').html('');
    $('#loadComments').show();
    $(this).hide();
  })

</script>