

<div class="container">
</div>

  <div class="jumbotron">
    <div class="container">
      <% if session[:user_id].nil? %>
      <%=render partial: 'sessions/form', locals: {user: @user}%>
      <%= link_to("Login with Facebook!", "/auth/facebook") %>
      <% else %>
            <h5 style='color:red'>Logged in as: <%= @user.name if @user.name %></h5>
          <h3>Projects:</h3>
            <% @projects.each do |project| %>
               <h5><%=link_to project.name, project_path(project) %> - Due: <%= project.due_date %></h5>
             <% end %>
                <%= button_to 'New Project', new_project_path, method: 'get' %>
            <% end %>
      
      </p>
    </div>
  </div>





